@font-face { /* função para ler a fonte e depois as configurações */
    font-family: 'Gagalin';
    font-style: normal;
    src: url(../fonts/Gagalin-Regular.ttf)
}

body {
    /* background-color: #fa9600; */
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: 'Gagalin', 'Arial';
}

header {
    /*border: 2px red solid; era só para marcação */
    min-height: 130px; /* valor mínimo de altura */
    background:  #fa9600;
}
.container {
    /*border: 1px solid yellow; era só para marcação  */ 
    width: 85%;
    margin: 0 auto 0 auto; /* centraliza elemento em bloco */
    padding-top: 5px; /* a gordurinha, para descer mais os elementos e não ficar colado em cima */
}
.container img,
.container h1 {
    float: left;
}
.container h1 {
    color: white;
    text-transform: uppercase; /* coloca em maiúscula */
    font-size: 44px;
    margin-left: 20px;
}

/* MENU DO SITE */
.container {

    margin-left: 140px;

}
.menu {
    clear: both; /* o elemento PAI enxergará os FILHOS
    então, englobará os elementos que estão flutuando, para dentro do container */
}
.menu a {
    color: white;
    font-weight: normal;
    width: 240px;
    display: inline-block;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    border-radius: 5px 5px 0 0; /* bordas superiores arredondadas */
}

/* FOOTER */
footer {
    background: #ed1f2a;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    position: fixed;
    bottom: 0;
    width: 100%;
}